$res_320: "only screen and (min-width: 320px) and (max-width: 575px)";
@mixin Mobile() {
  @media #{$res_320} {
    @content;
  }
}
@include Mobile {
  #about_us {
    overflow: hidden;
    .bg {
      background: url("./../img/images/yellow_top_wave_01.png") no-repeat left
        top / 50%;
    }
    .col-lg-6 {
      h1 {
        @include text($text_color, 3rem, $fw_1);
      }
    }
  }
  #find_course {
    background: url("./../img/images/accent_bottom_wave_01.png") no-repeat left
      bottom / 250%;
    // background-color: red;
    padding-bottom: 1.5rem;
  }
  footer {
    background: url("./../img/images/footer_background.jpg") no-repeat center /
      cover;
    height: 1200px;
  }
  .contact {
    display: none !important;
  }
}
