// color
$color_primary: rgb(170, 1, 126);
$text_color: rgb(24, 24, 24);

// font weight
$fw_1: 900;
$fw_2: 700;
$fw_3: 600;
$fw_4: 400;

// font size
$fs_normal: 1rem;
$fs_small: 0.875rem;
$fs_big: 2rem;
